<header>
    <nav class="navbar navbar-expand-sm " style="background-color: transparent; ">
        <a class="navbar-brand" routerLink="/">
            <img alt="" src="assets/logo.png">
        </a>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!-- having this ul makes the other ul on the far right -->
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/About" [routerLinkActive]="['is-active']">About</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/Projects" [routerLinkActive]="['is-active']">Projects</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" style="cursor:pointer" (click)="openNav()">Contact</a>
                </li>
            </ul>
        </div>
        <!-- TOGGLE BUTTON -->
        <button class="navbar-toggler" type="button" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation" (click)="openNav()">
            <span class="navbar-toggler-icon "></span>
        </button>
        <!-- custom menu after toggle -->
        <div id="myNav" class="overlay">
            <a href="javascript:void(0) " class="closebtn" (click)="closeNav()">&times;</a>
            <div class="overlay-content" (click)="closeNav()">
                <div class="only-mobile">
                    <a routerLink="/Home" [routerLinkActive]="['is-active']">Home</a>
                    <a routerLink="/About" [routerLinkActive]="['is-active']">About</a>
                    <a routerLink="/Projects" [routerLinkActive]="['is-active']">Projects</a>
                </div>
                <div class="only-desktop">
                    <br>
                   <h3> Contact me : </h3> 
                    <br>
                </div>
                <!-- FORM CONTACT HERE -->
                <div class="icons">
                    <a href="https://github.com/LeMilenov" class="fa fa-github icon-link" target="_blank "></a>
                    <a href="https://www.linkedin.com/in/daniel-milenov-milanov-857969159/" class="fa fa-linkedin icon-link" target="_blank "></a>                   
                    <a href="mailto:dani_milenov@hotmail.fr" class="fa fa-envelope icon-link"></a>
                    <a class=" btn btn-primary resumeBtn "
                       download="download"
                        href="/assets/resume.pdf"
                        target="_blank "> Resume 
                    </a>
                    <a href="https://itch.io/profile/lemilenov" class=" btn btn-primary resumeBtn icon-link image" target="_blank ">
                        <img alt=""src="../../assets/icons/itch-io-brands.svg">
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div id="dark-screen" class="overlay dark"></div>

</header>
<!-- 
<button class="back-to-top" *ngIf="isShow" (click)="gotoTop()">
    <i class="fa fa-chevron-up"></i>
</button> -->