<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
        <a class="navbar-brand" href="#"> LOGO HERE </a>
        <button class="navbar-toggler" type="button" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" (click)="openNav()">
          <span class=" navbar-toggler-icon "></span>
        </button>
        <!-- center this title -->
        <div class="collapse navbar-collapse navbar-custom-links" id="navbarNavDropdown">
            <ul class=" navbar-nav ">
                <li class="nav-item active ">
                    <a href="/Home ">Home</a>
                </li>
                <li class="nav-item ">
                    <a href="/About ">About</a>
                </li>
                <li class="nav-item ">
                    <a href="/Projects ">Projects</a>
                </li>
            </ul>
            <ng-template [ngTemplateOutlet]="list_icons"></ng-template>

        </div>
        <div id="myNav" class="overlay">
            <a href="javascript:void(0) " class="closebtn" (click)="closeNav()">&times;</a>
            <div class="overlay-content navbar-custom-links">
                <a href="/Home ">Home</a>
                <a href="/About ">About</a>
                <a href="/Projects ">Projects</a>
                <ng-template [ngTemplateOutlet]="list_icons"></ng-template>
            </div>
        </div>
    </nav>
    <ng-template #list_icons>
        <div class="icons ">
            <a href=" # " class="fa fa-github " style="margin-right: 6vw; width: 25%; "></a>
            <a href="# " class="fa fa-linkedin " style="margin-right: 6vw; width: 25%; "></a>
            <a href="mailto:dani_milenov@hotmail.fr " class="fa fa-envelope " style="margin-right: 6vw; width: 25%; "></a>
            <a class="btn btn-primary resumeBtn " style="width: 25%; " href="http://danielmilanov.com/media/CV-Daniel%20Milenov%20Milanov_2020_EN.pdf " target="_blank "> Resume </a>
        </div>
    </ng-template>

</header>