<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent; width: 100%;">
        <a class="navbar-brand" style="width: 20%;">
            <img src="assets/logo.png" style="height: 50px;">
        </a>
        <button class="navbar-toggler" type="button" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" (click)="openNav()">
          <span class="navbar-toggler-icon "></span>
        </button>
        <!-- center this title -->
        <div class="collapse navbar-collapse navbar-custom-links" id="navbarNavDropdown">
            <!-- should be centered -->
            <ul class="nav justify-content-center" style="width: 100%;" >                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/About">About</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/Projects">Projects</a>
                </li>
            </ul>
            <!-- should be far right -->
            <div class="nav justify-content-end smallerIcons">
                <ng-template [ngTemplateOutlet]="list_icons" ></ng-template>
            </div>
            
        </div>
        <!-- custom menu after click -->
        <div id="myNav" class="overlay">
            <a href="javascript:void(0) " class="closebtn" (click)="closeNav()">&times;</a>
            <div class="overlay-content" (click)="closeNav()">
                <a routerLink="/About">About</a>
                <a routerLink="/Projects">Projects</a>
                <ng-template [ngTemplateOutlet]="list_icons"></ng-template>
            </div>
        </div>
    </nav>
    <ng-template #list_icons>
        <div class="icons ">
            <a href="https://github.com/LeMilenov" class="fa fa-github icon-link"  target="_blank "></a>
            <a href="https://www.linkedin.com/in/daniel-milenov-milanov-857969159/" class="fa fa-linkedin icon-link"  target="_blank "></a>
            <a href="mailto:dani_milenov@hotmail.fr icon-link" class="fa fa-envelope icon-link"></a>
            <a class=" btn btn-primary resumeBtn " href="http://danielmilanov.com/media/CV-Daniel%20Milenov%20Milanov_2020_EN.pdf " target="_blank "> Resume </a>
        </div>
    </ng-template>

</header>