<!-- LINKS -->  
<footer class="page-footer fixed-bottom">
    <div class="icons">
        <a href="https://github.com/LeMilenov" class="fa fa-github icon-link"  target="_blank "></a>
        <a href="https://www.linkedin.com/in/daniel-milenov-milanov-857969159/" class="fa fa-linkedin icon-link"  target="_blank "></a>
        <a href="mailto:dani_milenov@hotmail.fr icon-link" class="fa fa-envelope icon-link"></a>
        <a class=" btn btn-primary resumeBtn " href="http://danielmilanov.com/media/CV-Daniel%20Milenov%20Milanov_2020_EN.pdf " target="_blank "> Resume </a>
    </div>
    <!-- SCROLL TO TOP BUTTOn hide on home-->
    <!-- <button  type="button">
       GO TO THE TOP
    </button>         -->
    
</footer>