<div class="jumbotron" style="height: calc(115vh); overflow-y: auto;">
    <div class="about_container">
        <h1> About me </h1>
        <div class="about_me_container">
            <div class="my_face">
                <img class="my_face" src="../../assets/myFace.png">
            </div>
            <div>
                <p>
                    Fusce nulla odio, ultricies lobortis blandit id, rutrum sed orci. Suspendisse potenti. Donec in justo sagittis, tempus neque in, scelerisque elit. Mauris luctus, turpis ac consectetur porta, nisi odio imperdiet nulla, in semper magna lectus nec nunc. Sed in tortor eget lacus consequat convallis vitae ac nulla. Nulla vel dignissim elit, non laoreet sapien. Cras euismod turpis vel nisl interdum ultricies. Vestibulum ultricies mauris libero, at consequat arcu facilisis ut. Mauris ornare id lectus in convallis. Nulla at enim ut lectus volutpat vehicula. Phasellus lectus magna, auctor semper varius ut, commodo quis arcu. Phasellus a justo quis sem luctus bibendum id eu sapien. Nunc consequat erat non elementum egestas. Cras commodo nibh nec tellus dapibus, quis maximus ipsum bibendum. Maecenas tincidunt, ligula ut ullamcorper molestie, dui orci accumsan quam, sit amet elementum urna ipsum eu lectus. Etiam gravida tincidunt tortor, sed porttitor ex.
                </p>
                <ul style="text-align: left;">
                    <li>                             
                        angular 
                    </li>
                    <li>
                        docker        
                    </li>
                    <li>
                        c#
                    </li>
                    <li>
                        Android
                    </li>
                    <li>
                       Ios
                    </li>
                    <li>
                        MySql
                    </li>
                    <li>
                        Azman
                    </li>
                    <li>
                        Sql server 2019
                    </li>
                </ul>
            </div>
        </div>

        <h1> Work Experience </h1>
        <!-- show a navigation tab to choose wich to show -->
        <nav>
            <div class="nav nav-tabs custom_nav_tab" id="nav-tab" role="tablist" [innerHtml]="getEmployerLinks() | safe: 'html'">
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent" [innerHtml]="getEmployerData() | safe: 'html'">
          </div>
          <br><br>
        <h1> Check out my projects </h1>
        <a class="btn btn-primary " href="/Projects"> Projects</a>    

    </div>


</div>