.jumbotron{
    position: relative;
}
.go-back{
    position: absolute;
    top: 0%;
    left: 5%;
    font-size: 5vh;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
.info-container{
    width: 100%;
    text-align: left;
    border: 1px dotted;
    margin: 2vh;
    padding: 2vh;
}
ul{
    list-style-type: none;
    display: block;
    position: relative;
}
.date{
    position: absolute;
    right: 0;
    top:0;
}
h4,h5 {
    padding-left: 2vw;
    font-style: italic;
}
