<div class="jumbotron">
        <div class="info_container">
            <h4> My name is</h4>
            <h2> Daniel Milenov Milanov</h2>
            <div class="about_me_container">
                <div style="margin-bottom: 8vh;">
                    <p>
                        I am currently a student majoring in Software Engineering at Ecole Technologie Supérieure (ETS). 
                        I have a technical computer science Background (DEC) and have already done 5 internships. 
                        I mostly specialize in full stack web development but I work with different technologies in my free time.  
                    </p>
                    <h4 style="text-align: start;"> here are some technologies that I know</h4>
                    <ul class="accent" style="text-align: left; list-style: none;">
                        <li>                             
                            Angular 
                        </li>
                       
                        <li>
                            C# development
                        </li>
                        <li>
                            Android & IOS development
                        </li>
                        <li>
                            MySql & Sql server 2019
                        </li>
                        <li>
                            Azman security groups
                        </li>
                        <li>
                            Unity 
                        </li>
                        <li>
                            Docker & Hyper-V virtualization    
                        </li>
                    </ul>
                </div>
            </div>         
            
            <h1> Work Experience </h1>
            <!-- show a navigation tab to choose wich to show -->
<!--               
            <nav>
                <div class="nav nav-tabs custom_nav_tab" id="nav-tab" role="tablist" [innerHtml]="getEmployerLinks() | safe: 'html'">
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent" [innerHtml]="getEmployerData() | safe: 'html'">
              </div> 
              <br><br>

               -->
            <h1> Check out my projects </h1>
            <a class="btn btn-primary " routerLink="/Projects"> Projects</a>    
    
        </div>
    </div>
