<div class="jumbotron" style="height: calc(115vh); overflow-y: auto;">
    <h1> About me </h1>
    <p>
        Hello! I'm Daniel, a software engineer based in Boston, MA who enjoys building things that live on the internet. I develop exceptional websites and web apps that provide intuitive, pixel-perfect user interfaces with efficient and modern backends. Shortly
        after graduating from Northeastern University, I joined the engineering team at Upstatement where I work on a wide variety of interesting and meaningful projects on a daily basis. Here are a few technologies I've been working with recently:
    </p>
    <ul>
        <li>
            <a href="#" class="fab fa-java"></a>
        </li>
        <li>
            <i class="fab fa-python"></i>

        </li>
        <li>
            <i class="fab fa-angular"></i>
        </li>
        <li>
            <i class="fab fa-sass"></i>
        </li>
        <li>
            <i class="fab fa-docker"></i>
        </li>
        <li>
            MySql
        </li>
        <li>
            Azman
        </li>
        <li>
            Sql server 2019
        </li>
    </ul>
    <h1> Where I have worked </h1>
    <!-- show a navigation tab to choose wich to show -->

    <h1> Here is a link to my projects </h1>
    <a href="/Projects"> Projects</a>

    <p>
        Hello! I'm Daniel, a software engineer based in Boston, MA who enjoys building things that live on the internet. I develop exceptional websites and web apps that provide intuitive, pixel-perfect user interfaces with efficient and modern backends. Shortly
        after graduating from Northeastern University, I joined the engineering team at Upstatement where I work on a wide variety of interesting and meaningful projects on a daily basis. Here are a few technologies I've been working with recently:
    </p>


</div>