.jumbotron{
    position: relative;
}
.go-back{
    position: absolute;
    top: 0%;
    left: 5%;
    font-size: 5vh;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
.info-container{
    width: 100%;
    text-align: left;
    border: 1px solid;
    margin: 2vh;
    padding: 2vh;
}
ul{
    list-style-type: none;
    display: block;
    position: relative;
}

h4,h5 {
    padding-left: 2vw;
    font-style: italic;
}
.icon-container{
    width: 100%;
    div{
        text-align: center;
        padding: 2vw;
        background-color: #acadac63;
        width: 100%;
    }
}
.tasks{
    background-color:#acadac63;
}
@media screen and (min-width: 768px) {
    .date{
        position: absolute;
        right: 0;
        top:0;
    }
    .icon-container{
        display: inline-flex;
        div:not(:first-child){            
            border-left: 3px solid
        }        
        div{
            width: 25%;
        }
    }
}