<div class="jumbotron ">
  <i class="go-back fa fa-arrow-circle-left" aria-hidden="true"  routerLink="/Home"></i>

  <h1> My Projects : </h1>
  <br>
  
  <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex.lg="33%" fxFlex.md="50%"  *ngFor="let num of [1,2,3,4,5,6]">
      <mat-card appMaterialElevation raisedElevation="16" routerLink="/Projects/{{num}}">
        <img alt="" mat-card-image src="../../assets/pictures/backgrounds/pawel-czerwinski-b7ibFp72VAg-unsplash.jpg" />
        <mat-card-content>
          <mat-card-title>Mountains {{num}}</mat-card-title>
          <p>
            technologie utilisees 
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>

