.content { 
    padding: 16px; 
    margin: 0 -16px -16px 16px !important;
    display:block;
}

.content > mat-card { 
    width: 300px; 
    margin-bottom: 16px;
}
.mat-card{
    background:inherit;
    color:inherit;
    cursor: pointer;
    height: 100%;
}
.mat-card-image{
    height: 25vh;
}

.mat-card-title{
    text-align: left;
}
img {
    filter: brightness(50%); 
}
span{
    img{
        filter: brightness(100%); 
    }
}
.selected-card{
    box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
    0 1px 1px 0 rgba(0,0,0,1), 
    0 1px 3px 0 rgba(0,0,0,1);
    background-color: #1db36d;
    color:white;
    p{
        color:white;
    }
    img {
        filter: brightness(100%); 
    }
}
.jumbotron{
    position: relative;
}
.go-back{
    position: absolute;
    top: 0%;
    left: 5%;
    font-size: 5vh;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .mat-card-image {
        height: 20vh;
    }
    .content{
        padding: 10vw;
    }

}