<div class="jumbotron ">
  <a class="go-back fa fa-arrow-circle-left" aria-hidden="true"  routerLink="/Home"></a>

  <h1> My Projects : </h1>
  <br>
  
  <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex.lg="33%" fxFlex.md="50%"  *ngFor="let project of projects">
      <mat-card appMaterialElevation raisedElevation="16" routerLink="/Projects/{{project.id}}">
        <img [alt]="project.imageUrls[0]['caption']" mat-card-image [src]="project.imageUrls[0]['url']" />
        <mat-card-content>
          <mat-card-title>{{project.title}}</mat-card-title>
          <p>
            {{project.fastDesc}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>

