<div class="jumbotron ">
  <a class="btn btn-primary " routerLink="/Projects"> go back to projects </a>    
<section>
  <h1> {{title}} </h1>
  
  <img class="main_picture" width="100%" src="../../../assets/pictures/backgrounds/pawel-czerwinski-rsB6JZg6rVs-unsplash.jpg">
  <div class="project_container">
    <div class="description" style="width: 50%;">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </div>
    <div style="width: 50%;">
      technologies
    </div>

  </div>
  <div>
    <ul>
      <a href="https://github.com/LeMilenov/{{title}}" class="fa fa-github icon-link"  target="_blank ">link to github</a>
    </ul>
    <ul>
      <a href="https://www.linkedin.com/in/daniel-milenov-milanov-857969159/" class="far fa-eye icon-link"  target="_blank ">click to see project</a>
    </ul>
    <ul>
      <a href="mailto:dani_milenov@hotmail.fr icon-link" class="fas fa-eye icon-link">cant see this project</a>
    </ul>
    
  </div>

</section>
</div>