
.project_container{
    width: 100%;
    display: flex;
}
.description{
    text-align: left;   
}
.jumbotron{
    position: relative;
}
.go-back{
    position: absolute;
    top: 0%;
    left: 5%;
    font-size: 5vh;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
.icon-container{
    // height: 50vh;
    vertical-align: middle;
    padding: 5vw;
    // display: table-cell;
    img{
        width:5vh;
    }
}
.disabled{
    color: grey;
    text-decoration: none;   
}
.check-links-section{
    display: inline-flex;
    font-size: 7vh;
    padding-right: 100%;
}





.slideshow-container{
    position: relative;
    border-style: solid;
    width: 100%;
    height: 23vw !important;
    a{
        background-size: contain !important;
        /* background-position: center center; */
        background-repeat: no-repeat;
    }
}
#innerShadow{
    width: 100%;
    height: 100%;
    top: 3rem;
    left: 3rem;
    z-index: -1;
    position: absolute;
    background-color: white;
    border-style: solid;
}
  
    
@media screen and (max-width: 600px) {
    .description{
        width:100%;
        text-align: center;
    }
   .project_container{
       display: inline-block;
   }
   .check-links-section{
    font-size: 7vh;
    padding-left: 0%;
   }
   iframe{
    width: 100%;
    height: 30vh;
   }
   .slideshow-container{
       height: 25vh !important;
   }
   #innerShadow{
       top: 1rem;
       left: 1rem;      
   }  
}

p{
    font-size: medium;
}

#module p.collapse[aria-expanded="false"] {
   display: block;
   height: 10vh !important;
   overflow: hidden;
}

#module p.show[aria-expanded="false"] {
 height: 100% !important;
}

#module a.collapsed:after  {
   content: '+ Read More';
}

#module a:not(.collapsed):after {
   content: '- Read Less';
}