.project_container{
    width: 100%;
    display: flex;
}
.slideshow-container{
    background-color: black !important;
}
.description{
    text-align: left;   
}
.jumbotron{
    position: relative;
}
.go-back{
    position: absolute;
    top: 0%;
    left: 5%;
    font-size: 5vh;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
.icon-container{
    // height: 50vh;
    vertical-align: middle;
    padding: 5vw;
    // display: table-cell;
    img{
        width:5vh;
    }
}
.disabled{
    color: grey;
    text-decoration: none;   
}
.check-links-section{
    display: inline-flex;
    font-size: 7vh;
    padding-right: 100%;
}

@media screen and (max-width: 600px) {
    .description{
        width:100%;
        text-align: center;
    }
   .project_container{
       display: inline-block;
   }
   .check-links-section{
    font-size: 7vh;
    padding-left: 0%;
   }
   iframe{
    width: 100%;
    height: 30vh;
   }
}


#module div.collapse[aria-expanded="false"] {
    display: block;
    height: 50px !important;
    overflow: hidden;
}

#module div.collapsing[aria-expanded="false"] {
    height: 50px !important;
}
#module div.show[arie-expanded="false"]{
    display: block;
    height: 100% !important;
    overflow: hidden;
}

#module #descriptionToggle.collapsed:after  {
    content: '+ Show More';
}

#module #descriptionToggle:not(.collapsed):after {
    content: '- Show Less';
}
.slideshow-container{
    position: relative;
    border-style: solid;
}
#innerShadow{
    width: 100%;
    height: 100%;
    top: 3rem;
    left: 3rem;
    z-index: -1;
    position: absolute;
    background-color: white;
    border-style: solid;
}