.project_container{
    width: 100%;
    display: flex;
}
.description{
    width: 50%;
    text-align: left;
    font-size:3vh;
    padding:2vw;
}
.jumbotron{
    position: relative;
}
.go-back{
    position: absolute;
    top: 0%;
    left: 5%;
    font-size: 5vh;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
.icon-container{
    height: 50vh;
    vertical-align: middle;
    padding-left: 25%;
    display: table-cell;
    img{
        width:5vh;
    }
}
.disabled{
    color: grey;
    text-decoration: none;   
}
.check-links-section{
    display: inline-flex;
    font-size: 7vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    padding-left: 25%;
}

@media screen and (max-width: 600px) {
    .description{
        width:100%;
        text-align: center;
    }
   .project_container{
       display: inline-block;
   }
   .check-links-section{
       display: block;
       font-size: 7vh;
       padding-top: 20%;
       left: 80%;
       top: 0;
   }
}