/* You can add global styles to this file, and also import other style files */

//custom colors
$accent : #ff0231;
$background: #ffffff;
$dominant-light: rgb(29, 179, 109);
$dominant-medium: rgb(42, 141, 255);
$dominant-medium-dark:#ff0231;
$dominant-dark: #000000;
//override bootstrap
$body-bg: $background;
$body-color: $dominant-light;
$overflows: auto, hidden !default;
$theme-colors: ( 
     "primary":    $dominant-light,
    // "secondary":  $secondary,
    // "success":    $success,
    // "info":       $info,
    // "warning":    $warning,
    // "danger":     $danger,
    // "light":      $light,
    // "dark":       $dark,

    // "blue":       $blue,
    // "indigo":     $indigo,
    // "purple":     $purple,
    // "pink":       $pink,
    // "red":        $red,
    // "orange":     $orange,
    // "yellow":     $yellow,
    // "green":      $green,
    // "teal":       $teal,
    // "cyan":       $cyan,
    // "white":      $white,
    // "gray":       $gray-600,
    // "gray-dark":  $gray-800
    // "custom-color":#900
    );
@import "node_modules/bootstrap/scss/bootstrap";
//IMAGES 

header{
    padding: 1rem;
}
body {
    font-family: 'Karla', sans-serif;
    font-size: 23px;
    height: 100vh;
    overflow: hidden;    
}

// body::-webkit-scrollbar {
//     width: 11px;
//   }
//   body {
//     scrollbar-width: thin;
//     scrollbar-color: $accent;
    
//   }
//   body::-webkit-scrollbar-track {
//     background: $background
//   }
//   body::-webkit-scrollbar-thumb {
//     background-color: $dominant-light;
//     border-radius: 6px;
//     border: 3px solid $dominant-light;
//   }

a {
    color:$dominant-light;
}
a:hover {
    color:$accent;
    text-decoration: none;
}

h1{
    text-align: center;
    color:$dominant-light;
    margin-top: 4vh;
    margin-bottom: 4vh;
}
h2{
    text-align: left;
    text-shadow: 2px 1px  $dominant-medium;
}
h3{
    text-align: center;
}
h4{
    text-align: left;
}
h5{
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.accent{
    color:$accent;
}
.dominant-dark{
    color:$dominant-dark;
}
p{
    color:$dominant-medium;
    text-align: left;
}

.jumbotron{
    background-color:transparent;
    text-align: center;
    width: 100%;
    height: 100%;
    display: table;   
    //smooth scroll
    // overflow-y: scroll;
    // scroll-behavior: smooth;
    // scroll-snap-type: y mandatory;
    
}
.name-title{
    font-size: 8vw;;
    font-family: "Ivar Headline SemiBold", sans-serif;        
}
.home-container{
    display: table-cell;
    vertical-align: middle;
}
.check-projects{
    margin-left: -32vw;
    a{
        border-radius: 10px 60px;
        border: 15px solid $dominant-light;
        background-color: $dominant-light;
        color:$background;
        font-size: 4vw !important;
        a:hover{
            color:$accent !important;
        }
    }
}
.credit{
    position: absolute;
    bottom: 0;
    right: 6vw;
    font-size: 1vw;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: $background;
    overflow-x: hidden;
    transition: 0.2s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: $dominant-light;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color:  $accent;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.hamburger_menu {
    cursor: pointer;
    float: right;
    padding: 28px;
    font-size: 4vw;
}

.navbar-custom-links {
    font-size: 2vw;    
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}

.resumeBtn {   
    background-color: transparent;    
    color:$dominant-light;
    // height: 6vh;
    width: fit-content;
    align-self: center;
    // margin-top: 3vh;
    //gets overwritten by overlay
    font-size: 2vh !important;
}

.resumeBtn:hover{
    background-color: $accent;
    border-color: transparent;
    color:$dominant-light!important;

}
.navbar-toggler{
    // border-width: 2px;
    // border-color: $background;
    background-color: $background;
}
.icons {
    display: inline-flex;
}

.icon-link {
    margin-right: 6vw;
    width: 25%;
}

.smallerIcons {
    display: contents;
    height: 6vh;
    .icons>.icon-link {
        font-size: 1.5vw;
        margin-right: 0px;
    }
    .resumeBtn{
        margin-top: 0px;
        height: fit-content;
    }
}
.navbar-light {
    .navbar-toggler{
        border-color: $background;          
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(61, 217, 144)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}
.info_container{
    margin: 0px 10vw;
    text-align: center;
}
.my_face{
    height: 20vh;
    border-radius: 50%;
    border-color: $dominant-dark;
    border-width: medium;
    margin-right: 2vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.about_me_container {
    display: flex;
}
.custom_nav_tab{
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    overflow-x: auto;
}
.nav-tabs .nav-link.active{
    color:$accent;
}
.nav-items{
    color:$dominant-medium
}
.tab-pane{
    text-align: left;
    .dateLabel{
        color:$dominant-medium-dark
    }
    .tasks{
        color:$dominant-medium;
    }

}
.carousel_container{
    .carousel{
        margin-bottom: 5vh;
    }
    .img-fluid{
        max-height: 40vw;
    }
    .tags_container{
        width: 100%;
        display: flex;
    }
    ul{
        text-align: left;
        list-style-type: none;
        width: 75%;
    }
    a{   
        font-size: 3vh;
    }

}
.main{
    position: relative;
}

// FOOTER STYLING
footer{
    width: 0%;
    padding: 1vw;
    background-color:  $background !important;
    .icons{
        display: inline-grid;
    }
    .fa{
        width: auto !important;
    }
    .icon-link{
        width: auto !important;
        margin: auto !important;
    }
}
// mobile css
@media screen and (max-width: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
    }
    .about_me_container{
        display: block !important;
    }
    footer{
        display: none;
    }
}