<div class="jumbotron" style="height: calc(95vh); display:table">
    <div class="home-container">
        <div class="title">
            <div class="name-title">
                Daniel Milanov
            </div>
            <div class="check-projects">
                <a routerLink="/Projects"> View all my projects</a>
            </div>
        </div>
        <svg class="svg">
            <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox" >
                <path id="path-to-animate" d="M0.093,0.878 C0,0.736,0.194,0.698,0.118,0.555 S0.439,0.362,0.406,0.241 S0.951,0,0.808,0.177 S1,0.369,1,0.517 S0.862,0.641,0.846,0.866 S0.361,1,0.467,1 S0.186,1,0.093,0.878"/>
            </clipPath>
        </svg>

        <div class="clipped" id="background" [style.background]="'url(../../assets/pictures/backgrounds/'+ backgroundName + ')'" [style.background-position]="positionX+'px '+positionY+ 'px'"></div>
    </div>


    <span class="credit">
        Photo by <a
            href="https://unsplash.com/@pawel_czerwinski?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Paweł
            Czerwiński</a> on <a
            href="https://unsplash.com/t/textures-patterns?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>

    </span>
</div>

