<div class="jumbotron" style="height: calc(95vh); display:table">
    <div class="home-container">
        <div class="title">
            <div class="name-title">
                Daniel Milanov
            </div>
            <div class="check-projects">
                <a routerLink="/Projects"> View all my projects</a>
            </div>
        </div>
        <div class="background" id="background" [style.top]="positionX+'px'" [style.left]="positionY+ 'px'" >
            <div class="wave"></div>
        </div>
        <svg>
            <filter id="turbulence" x="0" y="0" width="100%" height="100%">
                <feTurbulence id="wave-filter" type="fractalNoise" numOctaves="1" baseFrequency='0.01' result='noise'></feTurbulence>                
                <feDisplacementMap scale="80" in="SourceGraphic"></feDisplacementMap>
            </filter>
            <animate xlink:href="#wave-filter" attributeName="baseFrequency" dur="60s" keyTimes="0;0.5;1" values="0.02 0.06;0.04 0.08;0.02 0.06" repeatCount="indefinite"/>
        </svg>
    </div>


    <span class="credit">
        <span>Photo by <a
                href="https://unsplash.com/@pawel_czerwinski?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Paweł
                Czerwiński</a> on <a
                href="https://unsplash.com/@pawel_czerwinski?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    </span>
</div>